PotterBarNodeRed20180608.txt
[{"id":"dd01c357.e635e","type":"tab","label":"CandyControl","disabled":false,"info":""},{"id":"2cc74e37.291d82","type":"tab","label":"CandyIR","disabled":false,"info":""},{"id":"16a0a1b9.825dce","type":"tab","label":"StoreControl","disabled":false,"info":""},{"id":"9c1237f0.d4d198","type":"tab","label":"Store IR","disabled":false,"info":""},{"id":"17e9b1c5.b3c2ae","type":"tab","label":"CandyProximity","disabled":false,"info":""},{"id":"1309652f.ed5553","type":"tab","label":"CandyJar","disabled":false,"info":""},{"id":"d1cf9f87.f8e6","type":"tab","label":"DoorControl","disabled":false,"info":""},{"id":"4332a2e9.b66d0c","type":"tab","label":"FanRelay","disabled":false,"info":""},{"id":"3695c845.fbbf08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2e4d7e17.988962","type":"tab","label":"CandyRGB","disabled":false,"info":""},{"id":"5c1954b2.ce4b2c","type":"mqtt-broker","z":"","name":"PiMQTT","broker":"192.168.1.31","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ce9c18a2.148de","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f653f539.d9faa8","type":"ui_group","z":"","name":"proximity sensors","tab":"ce9c18a2.148de","order":4,"disp":true,"width":"6","collapse":true},{"id":"115a8ed4.01ee61","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"48c4a7f6.3a5c6","type":"ui_group","z":"","name":"Store","tab":"ce9c18a2.148de","order":5,"disp":true,"width":"6","collapse":true},{"id":"41452000.b7069","type":"ui_group","z":"","name":"Candy Store Spell","tab":"ce9c18a2.148de","order":3,"disp":true,"width":"6","collapse":true},{"id":"6136ce49.dc1958","type":"ui_group","z":"","name":"Store Spell","tab":"ce9c18a2.148de","order":6,"disp":true,"width":"6","collapse":true},{"id":"a7daa26b.43a8a8","type":"ui_group","z":"","name":"Candy Store Proximity","tab":"ce9c18a2.148de","order":2,"disp":true,"width":"6","collapse":true},{"id":"dc1af78.f218a08","type":"ui_group","z":"","name":"Candy Store Lighting","tab":"ce9c18a2.148de","order":1,"disp":true,"width":"6","collapse":true},{"id":"e654c8e8.5fe088","type":"ui_text","z":"4332a2e9.b66d0c","group":"f653f539.d9faa8","order":3,"width":0,"height":0,"name":"","label":"Last Proximity Distance:","format":"{{msg.payload}}","layout":"row-spread","x":401,"y":697,"wires":[]},{"id":"18f35ca2.284683","type":"inject","z":"4332a2e9.b66d0c","name":"turn sonoff1 relay1 on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["9818835.bb4c68"]]},{"id":"ec4276b3.dedab8","type":"inject","z":"4332a2e9.b66d0c","name":"turn wemosD1 relay off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["9818835.bb4c68"]]},{"id":"e2eca741.8ee4e8","type":"inject","z":"4332a2e9.b66d0c","name":"pulse wemosD1 relay","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["697ddd1c.fb25a4"]]},{"id":"9818835.bb4c68","type":"ui_switch","z":"4332a2e9.b66d0c","name":"","label":"Fan State:","group":"6136ce49.dc1958","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":390,"y":420,"wires":[["697ddd1c.fb25a4"]]},{"id":"47ed7adc.42ee44","type":"ui_button","z":"4332a2e9.b66d0c","name":"","group":"6136ce49.dc1958","order":0,"width":0,"height":0,"passthru":false,"label":"Pulse Fan","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":110,"y":520,"wires":[["697ddd1c.fb25a4"]]},{"id":"8e5c1315.6eb4c","type":"change","z":"4332a2e9.b66d0c","name":"pulse sonoff1 relay1","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":391,"y":657,"wires":[["697ddd1c.fb25a4"]]},{"id":"a4f82eef.7312f","type":"mqtt out","z":"17e9b1c5.b3c2ae","name":"","topic":"/proximity/sub/stop","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":650,"y":220,"wires":[]},{"id":"30340658.7275ea","type":"inject","z":"17e9b1c5.b3c2ae","name":"start candyprox","topic":"","payload":"proximity","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["260bf0ef.68b5"]]},{"id":"260bf0ef.68b5","type":"mqtt out","z":"17e9b1c5.b3c2ae","name":"","topic":"/proximity/sub/start","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":650,"y":100,"wires":[]},{"id":"95620ee5.10c84","type":"switch","z":"17e9b1c5.b3c2ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":160,"wires":[["260bf0ef.68b5","5fed7ab7.561024"],["a4f82eef.7312f","5fed7ab7.561024"]]},{"id":"51e8630f.cbb46c","type":"inject","z":"17e9b1c5.b3c2ae","name":"stop candyprox","topic":"","payload":"proximity","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["a4f82eef.7312f"]]},{"id":"a869ea4e.7e2778","type":"ui_slider","z":"17e9b1c5.b3c2ae","name":"candyprox range","label":"proximity1 trigger:","group":"a7daa26b.43a8a8","order":1,"width":0,"height":0,"passthru":false,"topic":"","min":0,"max":"100","step":1,"x":230,"y":160,"wires":[["85abd9bb.2da4f8","95620ee5.10c84","5b070a85.b45aa4"]]},{"id":"5fed7ab7.561024","type":"debug","z":"17e9b1c5.b3c2ae","name":"candyprox state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":160,"wires":[]},{"id":"85abd9bb.2da4f8","type":"ui_text","z":"17e9b1c5.b3c2ae","group":"a7daa26b.43a8a8","order":2,"width":0,"height":0,"name":"candyprox range","label":"range (cm):","format":"{{msg.payload}}","layout":"row-left","x":410,"y":80,"wires":[]},{"id":"e73a7f0f.78ea6","type":"mqtt out","z":"4332a2e9.b66d0c","name":"","topic":"/relay1/on","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":680,"y":500,"wires":[]},{"id":"3073977c.fe87f8","type":"mqtt out","z":"4332a2e9.b66d0c","name":"","topic":"/relay1/off","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":680,"y":540,"wires":[]},{"id":"7d0921cf.0850d","type":"mqtt out","z":"4332a2e9.b66d0c","name":"","topic":"/relay1/pulse","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":690,"y":580,"wires":[]},{"id":"697ddd1c.fb25a4","type":"switch","z":"4332a2e9.b66d0c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":540,"wires":[["e73a7f0f.78ea6","f37fff43.45b6f"],["3073977c.fe87f8","f37fff43.45b6f"],["7d0921cf.0850d","f37fff43.45b6f"]]},{"id":"6b2a2ef7.7922e","type":"comment","z":"4332a2e9.b66d0c","name":"from broker","info":"","x":100,"y":600,"wires":[]},{"id":"d2ae521f.3b666","type":"mqtt in","z":"dd01c357.e635e","name":"","topic":"/proximity/pub/triggered","qos":"2","broker":"5c1954b2.ce4b2c","x":140,"y":480,"wires":[["1ae98a87.bb00d5","625294fa.2980dc","d435a4d1.a0ab38"]]},{"id":"1ae98a87.bb00d5","type":"link out","z":"dd01c357.e635e","name":"pulse relay1","links":["9f4c71e2.c0a5a"],"x":295,"y":460,"wires":[]},{"id":"9f4c71e2.c0a5a","type":"link in","z":"4332a2e9.b66d0c","name":"pulse relay1","links":["1ae98a87.bb00d5"],"x":146,"y":657,"wires":[["8e5c1315.6eb4c","e654c8e8.5fe088","d6345852.d3d1f8"]]},{"id":"317ddb24.e2dec4","type":"mqtt in","z":"dd01c357.e635e","name":"","topic":"/proximity/pub/online","qos":"2","broker":"5c1954b2.ce4b2c","x":130,"y":80,"wires":[["fd777ec0.87a3a","9d41439.7a3fac"]]},{"id":"3caa11d9.54710e","type":"link out","z":"dd01c357.e635e","name":"start proximity1","links":["d59e837e.627b2"],"x":516,"y":100,"wires":[]},{"id":"d59e837e.627b2","type":"link in","z":"17e9b1c5.b3c2ae","name":"start proximity1","links":["3caa11d9.54710e"],"x":135,"y":120,"wires":[["a869ea4e.7e2778"]]},{"id":"197bbb6.eeb5745","type":"link in","z":"17e9b1c5.b3c2ae","name":"stop proximity1","links":[],"x":135,"y":200,"wires":[["a869ea4e.7e2778"]]},{"id":"4f71d6ad.2b6e18","type":"inject","z":"4332a2e9.b66d0c","name":"start relay1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["40a4c4ec.e0da0c"]]},{"id":"593b6a54.5cabe4","type":"inject","z":"4332a2e9.b66d0c","name":"stop relay1","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["40a4c4ec.e0da0c"]]},{"id":"76e26df5.b348e4","type":"link in","z":"4332a2e9.b66d0c","name":"start relay1","links":["32dd7b57.1e49a4","d6ae09b4.20ff08"],"x":95,"y":260,"wires":[["40a4c4ec.e0da0c"]]},{"id":"499487df.703598","type":"mqtt out","z":"4332a2e9.b66d0c","name":"","topic":"/relay1/start","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":690,"y":240,"wires":[]},{"id":"9bbabbd0.0fdad8","type":"mqtt out","z":"4332a2e9.b66d0c","name":"","topic":"/relay1/stop","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":690,"y":320,"wires":[]},{"id":"c3c88c36.d6eaa","type":"switch","z":"4332a2e9.b66d0c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":280,"wires":[["499487df.703598","4d9ffa03.8c6fd4"],["9bbabbd0.0fdad8","4d9ffa03.8c6fd4"]]},{"id":"c231e34d.57a78","type":"link in","z":"4332a2e9.b66d0c","name":"stop relay1","links":[],"x":95,"y":300,"wires":[["40a4c4ec.e0da0c"]]},{"id":"40a4c4ec.e0da0c","type":"ui_switch","z":"4332a2e9.b66d0c","name":"","label":"Fan Enable:","group":"48c4a7f6.3a5c6","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":280,"wires":[["c3c88c36.d6eaa"]]},{"id":"4d9ffa03.8c6fd4","type":"debug","z":"4332a2e9.b66d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"6087999a.3df168","type":"inject","z":"4332a2e9.b66d0c","name":"relay1 online","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["609a3fb6.5093a"]]},{"id":"609a3fb6.5093a","type":"mqtt out","z":"4332a2e9.b66d0c","name":"","topic":"/sonoff1/relay1/online","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":360,"y":181,"wires":[]},{"id":"6fe41ec5.0903c","type":"inject","z":"17e9b1c5.b3c2ae","name":"candyprox online","topic":"candyprox/pub/online","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["2c55f96b.260b26"]]},{"id":"2c55f96b.260b26","type":"mqtt out","z":"17e9b1c5.b3c2ae","name":"","topic":"/proximity/pub/online","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":420,"y":40,"wires":[]},{"id":"f37fff43.45b6f","type":"debug","z":"4332a2e9.b66d0c","name":"pulse relay 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":460,"wires":[]},{"id":"b427c9b.dc64e38","type":"inject","z":"17e9b1c5.b3c2ae","name":"candyprox triggered","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["8eeff495.12dd48"]]},{"id":"8eeff495.12dd48","type":"mqtt out","z":"17e9b1c5.b3c2ae","name":"","topic":"/proximity/pub/triggered","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":430,"y":300,"wires":[]},{"id":"d6345852.d3d1f8","type":"debug","z":"4332a2e9.b66d0c","name":"pulse relay","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":361,"y":617,"wires":[]},{"id":"3b9f7896.e62bb","type":"ui_button","z":"1309652f.ed5553","name":"","group":"41452000.b7069","order":0,"width":0,"height":0,"passthru":false,"label":"Candy Jar Go:","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":100,"y":360,"wires":[["1169bcd7.9486d3","10ecbe40.b528e2"]]},{"id":"1169bcd7.9486d3","type":"mqtt out","z":"1309652f.ed5553","name":"","topic":"/linearservo1/go","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":540,"y":440,"wires":[]},{"id":"c44e4b76.501d38","type":"comment","z":"1309652f.ed5553","name":"from broker","info":"","x":70,"y":320,"wires":[]},{"id":"9b45449.847de38","type":"link in","z":"1309652f.ed5553","name":"linearservo1 go","links":["625294fa.2980dc"],"x":135,"y":400,"wires":[["1169bcd7.9486d3","10ecbe40.b528e2"]]},{"id":"da1bc410.79e77","type":"inject","z":"1309652f.ed5553","name":"start linearservo1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["8e16c57b.ac9b68"]]},{"id":"acdaa795.f2559","type":"inject","z":"1309652f.ed5553","name":"stop linearservo1","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["d07376cf.83b1c8"]]},{"id":"d53a3b0d.6d3478","type":"link in","z":"1309652f.ed5553","name":"start linearservo1","links":["3ffdce.44e60232"],"x":135,"y":100,"wires":[["8e16c57b.ac9b68"]]},{"id":"6cf52d87.ddad94","type":"mqtt out","z":"1309652f.ed5553","name":"","topic":"/linearservo1/start","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":810,"y":180,"wires":[]},{"id":"97d428d9.6e7d6","type":"mqtt out","z":"1309652f.ed5553","name":"","topic":"/linearservo1/stop","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":670,"y":260,"wires":[]},{"id":"170890eb.ca1e97","type":"switch","z":"1309652f.ed5553","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":220,"wires":[["8e6d4752.ac823","b0aee617.8a6948"],["97d428d9.6e7d6","8e6d4752.ac823"]]},{"id":"12f40bae.761694","type":"link in","z":"1309652f.ed5553","name":"stop linearservo1","links":[],"x":135,"y":140,"wires":[["d07376cf.83b1c8"]]},{"id":"5e256538.588afc","type":"ui_switch","z":"1309652f.ed5553","name":"","label":"Candy Jar Enable:","group":"41452000.b7069","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":550,"y":120,"wires":[["170890eb.ca1e97"]]},{"id":"8e6d4752.ac823","type":"debug","z":"1309652f.ed5553","name":"linearservo1 state switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":220,"wires":[]},{"id":"2acca2b6.287a4e","type":"inject","z":"1309652f.ed5553","name":"linearservo1 online","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":20,"wires":[["8739ed9c.55"]]},{"id":"8739ed9c.55","type":"mqtt out","z":"1309652f.ed5553","name":"","topic":"/linearservo1/online","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":310,"y":20,"wires":[]},{"id":"10ecbe40.b528e2","type":"debug","z":"1309652f.ed5553","name":"/linearservo1/go","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":360,"wires":[]},{"id":"4c26f431.29c9ac","type":"mqtt in","z":"dd01c357.e635e","name":"","topic":"/linearservo1/pub/online","qos":"2","broker":"5c1954b2.ce4b2c","x":140,"y":280,"wires":[["96da5bbc.6c4b28","3ffdce.44e60232"]]},{"id":"3ffdce.44e60232","type":"link out","z":"dd01c357.e635e","name":"start linearservo1","links":["d53a3b0d.6d3478"],"x":295,"y":300,"wires":[]},{"id":"9019f40d.d0d418","type":"mqtt in","z":"dd01c357.e635e","name":"","topic":"/frogServo/pub/online","qos":"2","broker":"5c1954b2.ce4b2c","x":140,"y":380,"wires":[["49b842b0.1b086c","4a89195c.ad59b8"]]},{"id":"4a89195c.ad59b8","type":"link out","z":"dd01c357.e635e","name":"","links":[],"x":295,"y":400,"wires":[]},{"id":"3219eba4.077284","type":"mqtt in","z":"dd01c357.e635e","name":"","topic":"/ir/pub/online","qos":"2","broker":"5c1954b2.ce4b2c","x":110,"y":180,"wires":[["bf53aea3.da6d3"]]},{"id":"501590ac.7425a8","type":"mqtt in","z":"dd01c357.e635e","name":"","topic":"/ir/pub/triggered","qos":"2","broker":"5c1954b2.ce4b2c","x":120,"y":560,"wires":[["76a4d62b.5cecc8"]]},{"id":"3313567c.506b7a","type":"inject","z":"1309652f.ed5553","name":"trigger linearservo1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["1169bcd7.9486d3","10ecbe40.b528e2"]]},{"id":"625294fa.2980dc","type":"link out","z":"dd01c357.e635e","name":"linearservo1 go","links":["9b45449.847de38"],"x":295,"y":500,"wires":[]},{"id":"d435a4d1.a0ab38","type":"debug","z":"dd01c357.e635e","name":"controller /candyprox/pub/triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":480,"wires":[]},{"id":"96da5bbc.6c4b28","type":"debug","z":"dd01c357.e635e","name":"controller /linearservo1/pub/online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":421,"y":260,"wires":[]},{"id":"49b842b0.1b086c","type":"debug","z":"dd01c357.e635e","name":"controller /frogServo/pub/online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":360,"wires":[]},{"id":"d20c1fa4.f5397","type":"debug","z":"dd01c357.e635e","name":"controller candyir online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":160,"wires":[]},{"id":"9d41439.7a3fac","type":"debug","z":"dd01c357.e635e","name":"controller /proximity1/pub/online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":60,"wires":[]},{"id":"76a4d62b.5cecc8","type":"debug","z":"dd01c357.e635e","name":"controller /candyir/pub/triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":560,"wires":[]},{"id":"5b070a85.b45aa4","type":"debug","z":"17e9b1c5.b3c2ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":240,"wires":[]},{"id":"d09431a.9fc50d","type":"inject","z":"3695c845.fbbf08","name":"/mqttOTAFSBase/start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["b4dde4d7.27af78"]]},{"id":"fb4f8094.70834","type":"mqtt out","z":"3695c845.fbbf08","name":"","topic":"/mqttOTAFSBase/start","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":560,"y":240,"wires":[]},{"id":"c040521f.6a5cb","type":"debug","z":"3695c845.fbbf08","name":"debug payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":180,"wires":[]},{"id":"c62defee.233e6","type":"inject","z":"3695c845.fbbf08","name":"/mqttOTAFSBase/stop","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["c040521f.6a5cb","9c261af0.3cf038"]]},{"id":"9c261af0.3cf038","type":"mqtt out","z":"3695c845.fbbf08","name":"","topic":"/mqttOTAFSBase/stop","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":560,"y":120,"wires":[]},{"id":"4b69dbea.f7cf44","type":"mqtt in","z":"3695c845.fbbf08","name":"","topic":"/mqttOTAFSBase/online","qos":"2","broker":"5c1954b2.ce4b2c","x":140,"y":180,"wires":[["c040521f.6a5cb"]]},{"id":"b4dde4d7.27af78","type":"function","z":"3695c845.fbbf08","name":"build json","func":"msg.payload = \"{\\\"sensor\\\":\\\"yyyy\\\",\\\"time\\\":1351824120,\\\"data\\\":[48.756080,2.302038],\\\"top\\\":50,\\\"bottom\\\":120}\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["fb4f8094.70834","c040521f.6a5cb"]]},{"id":"74037327.7cb81c","type":"inject","z":"3695c845.fbbf08","name":"","topic":"/mqttOTAFSBase/go","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["c040521f.6a5cb","1082ae92.63d831"]]},{"id":"1082ae92.63d831","type":"mqtt out","z":"3695c845.fbbf08","name":"","topic":"/mqttOTAFSBase/go","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":560,"y":300,"wires":[]},{"id":"b0aee617.8a6948","type":"function","z":"1309652f.ed5553","name":"start json","func":"msg.payload = \"{\\\"candyTop\\\":50,\\\"candyBottom\\\":120,\\\"topPause\\\":2000}\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":180,"wires":[["6cf52d87.ddad94"]]},{"id":"8e16c57b.ac9b68","type":"change","z":"1309652f.ed5553","name":"set start payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[["5e256538.588afc"]]},{"id":"d07376cf.83b1c8","type":"change","z":"1309652f.ed5553","name":"set stop payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["5e256538.588afc"]]},{"id":"6c2e13cd.95033c","type":"mqtt out","z":"2cc74e37.291d82","name":"","topic":"/ir/sub/stop","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":790,"y":240,"wires":[]},{"id":"d6c69769.ae3dc8","type":"inject","z":"2cc74e37.291d82","name":"start candyir","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["baa65c52.462aa"]]},{"id":"7ac8d510.c6851c","type":"mqtt out","z":"2cc74e37.291d82","name":"","topic":"/ir/sub/start","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":790,"y":120,"wires":[]},{"id":"f41dc98b.d56618","type":"switch","z":"2cc74e37.291d82","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":492,"y":180,"wires":[["70c1e60c.11f1f8"],["50bb657d.f250ec","8056020f.c4b9b"]]},{"id":"9322f019.9a0b5","type":"inject","z":"2cc74e37.291d82","name":"stop candyir","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["baa65c52.462aa"]]},{"id":"50bb657d.f250ec","type":"debug","z":"2cc74e37.291d82","name":"candyir state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":186,"wires":[]},{"id":"3174b5bf.ba2b5a","type":"link in","z":"2cc74e37.291d82","name":"start candyir","links":["ec964623.8cfc58"],"x":175,"y":140,"wires":[["baa65c52.462aa"]]},{"id":"1dac2317.f0d9cd","type":"link in","z":"2cc74e37.291d82","name":"stop candyir","links":[],"x":175,"y":220,"wires":[["baa65c52.462aa"]]},{"id":"16640e3c.bb5852","type":"inject","z":"2cc74e37.291d82","name":"candyir online","topic":"","payload":"Candy IR","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["e7d0a7e2.055268"]]},{"id":"e7d0a7e2.055268","type":"mqtt out","z":"2cc74e37.291d82","name":"","topic":"/ir/pub/online","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":430,"y":60,"wires":[]},{"id":"43b46725.fe2638","type":"inject","z":"2cc74e37.291d82","name":"candyir go","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["101e10b3.d2d56f"]]},{"id":"f60b71f0.8c42","type":"mqtt out","z":"2cc74e37.291d82","name":"","topic":"/ir/sub/go","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":600,"y":320,"wires":[]},{"id":"baa65c52.462aa","type":"ui_switch","z":"2cc74e37.291d82","name":"","label":"Candy IR State","group":"41452000.b7069","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":336,"y":180,"wires":[["f41dc98b.d56618"]]},{"id":"ec964623.8cfc58","type":"link out","z":"dd01c357.e635e","name":"start candyir","links":["3174b5bf.ba2b5a"],"x":675,"y":200,"wires":[]},{"id":"b491b53e.a0ea18","type":"mqtt in","z":"d1cf9f87.f8e6","name":"","topic":"/doorKnockerServo/ready","qos":"2","broker":"5c1954b2.ce4b2c","x":170,"y":199,"wires":[[]]},{"id":"dfb156e2.edf708","type":"mqtt in","z":"d1cf9f87.f8e6","name":"","topic":"/proximity2/ready","qos":"2","broker":"5c1954b2.ce4b2c","x":140,"y":79,"wires":[[]]},{"id":"6deed77d.8d1ef8","type":"mqtt in","z":"d1cf9f87.f8e6","name":"","topic":"/IR2/ready","qos":"2","broker":"5c1954b2.ce4b2c","x":120,"y":139,"wires":[[]]},{"id":"a7eb94c.0908068","type":"mqtt in","z":"d1cf9f87.f8e6","name":"","topic":"/bellServo/ready","qos":"2","broker":"5c1954b2.ce4b2c","x":140,"y":259,"wires":[[]]},{"id":"7c6a0a3a.80ad34","type":"mqtt in","z":"d1cf9f87.f8e6","name":"","topic":"/proximity2/inrange","qos":"2","broker":"5c1954b2.ce4b2c","x":150,"y":319,"wires":[[]]},{"id":"ac358968.ef49b8","type":"mqtt in","z":"d1cf9f87.f8e6","name":"","topic":"/IR2/trigger","qos":"2","broker":"5c1954b2.ce4b2c","x":120,"y":379,"wires":[[]]},{"id":"ca931832.b8fea8","type":"mqtt in","z":"16a0a1b9.825dce","name":"","topic":"/relay1/online","qos":"2","broker":"5c1954b2.ce4b2c","x":110,"y":160,"wires":[["d6ae09b4.20ff08","e63adb74.c6aa68"]]},{"id":"d6ae09b4.20ff08","type":"link out","z":"16a0a1b9.825dce","name":"start relay1","links":["76e26df5.b348e4"],"x":315,"y":160,"wires":[]},{"id":"2449668e.05462a","type":"mqtt in","z":"16a0a1b9.825dce","name":"","topic":"/proximity3/ready","qos":"2","broker":"5c1954b2.ce4b2c","x":120,"y":340,"wires":[[]]},{"id":"2be0fe7f.6fa842","type":"mqtt in","z":"16a0a1b9.825dce","name":"","topic":"/proximity3/inrange","qos":"2","broker":"5c1954b2.ce4b2c","x":130,"y":220,"wires":[[]]},{"id":"50bce099.bb401","type":"mqtt in","z":"16a0a1b9.825dce","name":"","topic":"/IR3/trigger","qos":"2","broker":"5c1954b2.ce4b2c","x":100,"y":280,"wires":[[]]},{"id":"e63adb74.c6aa68","type":"debug","z":"16a0a1b9.825dce","name":"controller /relay1/online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":140,"wires":[]},{"id":"fd777ec0.87a3a","type":"change","z":"dd01c357.e635e","name":"set start payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[["3caa11d9.54710e"]]},{"id":"101e10b3.d2d56f","type":"change","z":"2cc74e37.291d82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["f60b71f0.8c42"]]},{"id":"8056020f.c4b9b","type":"change","z":"2cc74e37.291d82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["6c2e13cd.95033c"]]},{"id":"70c1e60c.11f1f8","type":"change","z":"2cc74e37.291d82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"CandyIR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["7ac8d510.c6851c","50bb657d.f250ec"]]},{"id":"3b59d8b0.0dbbd8","type":"mqtt out","z":"9c1237f0.d4d198","name":"","topic":"/ir/sub/stop","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":750,"y":220,"wires":[]},{"id":"efee5a1a.f7e708","type":"inject","z":"9c1237f0.d4d198","name":"start storeir","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["e65fc1db.21be"]]},{"id":"b05b4a04.06da28","type":"mqtt out","z":"9c1237f0.d4d198","name":"","topic":"/ir/sub/start","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":750,"y":100,"wires":[]},{"id":"f1ba522.08e47b","type":"switch","z":"9c1237f0.d4d198","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":452,"y":160,"wires":[["72f77570.72097c"],["b6e3f00a.09df9","becf3a5e.0615c8"]]},{"id":"c964baf7.05db28","type":"inject","z":"9c1237f0.d4d198","name":"stop storeir","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["e65fc1db.21be"]]},{"id":"b6e3f00a.09df9","type":"debug","z":"9c1237f0.d4d198","name":"ir state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":166,"wires":[]},{"id":"9098f7c6.b6dad8","type":"link in","z":"9c1237f0.d4d198","name":"start storeir","links":["1d208402.ef728c"],"x":135,"y":120,"wires":[["e65fc1db.21be"]]},{"id":"ad7e9c1c.e3fc7","type":"link in","z":"9c1237f0.d4d198","name":"stop storeir","links":[],"x":135,"y":200,"wires":[["e65fc1db.21be"]]},{"id":"103df3e7.7169dc","type":"inject","z":"9c1237f0.d4d198","name":"storeir online","topic":"","payload":"Store IR","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["cbe822aa.93403"]]},{"id":"cbe822aa.93403","type":"mqtt out","z":"9c1237f0.d4d198","name":"","topic":"/ir/pub/online","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":390,"y":40,"wires":[]},{"id":"37eb58c9.662828","type":"inject","z":"9c1237f0.d4d198","name":"storeir go","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["1594b338.fd123d"]]},{"id":"31ab5e0e.201922","type":"mqtt out","z":"9c1237f0.d4d198","name":"","topic":"/ir/sub/go","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":560,"y":300,"wires":[]},{"id":"e65fc1db.21be","type":"ui_switch","z":"9c1237f0.d4d198","name":"","label":"Store IR State","group":"6136ce49.dc1958","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":296,"y":160,"wires":[["f1ba522.08e47b"]]},{"id":"1594b338.fd123d","type":"change","z":"9c1237f0.d4d198","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Store IR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[["31ab5e0e.201922"]]},{"id":"becf3a5e.0615c8","type":"change","z":"9c1237f0.d4d198","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Store IR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["3b59d8b0.0dbbd8"]]},{"id":"72f77570.72097c","type":"change","z":"9c1237f0.d4d198","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Store IR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":100,"wires":[["b05b4a04.06da28","b6e3f00a.09df9"]]},{"id":"bf53aea3.da6d3","type":"switch","z":"dd01c357.e635e","name":"Candy IR test","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Candy IR","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":180,"wires":[["d20c1fa4.f5397","2f6bd551.589b0a"]]},{"id":"28298bdf.1f4fc4","type":"mqtt in","z":"16a0a1b9.825dce","name":"","topic":"/ir/pub/online","qos":"2","broker":"5c1954b2.ce4b2c","x":110,"y":60,"wires":[["3c797b53.c103e4"]]},{"id":"2d157656.472fca","type":"debug","z":"16a0a1b9.825dce","name":"controller storeir online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":40,"wires":[]},{"id":"1d208402.ef728c","type":"link out","z":"16a0a1b9.825dce","name":"start storeir","links":["9098f7c6.b6dad8"],"x":615,"y":80,"wires":[]},{"id":"3c797b53.c103e4","type":"switch","z":"16a0a1b9.825dce","name":"Store IR test","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Store IR","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":60,"wires":[["2d157656.472fca","5972ae96.c6505"]]},{"id":"5972ae96.c6505","type":"change","z":"16a0a1b9.825dce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["1d208402.ef728c"]]},{"id":"2f6bd551.589b0a","type":"change","z":"dd01c357.e635e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":200,"wires":[["ec964623.8cfc58"]]},{"id":"e61cbd8d.96e9d","type":"ui_colour_picker","z":"16a0a1b9.825dce","name":"","label":"Store light:","group":"48c4a7f6.3a5c6","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":320,"y":440,"wires":[[]]},{"id":"f6b49350.bf82a","type":"mqtt in","z":"2e4d7e17.988962","name":"","topic":"candystore/rgb/online","qos":"2","broker":"5c1954b2.ce4b2c","x":140,"y":60,"wires":[["28ef1c17.3d6e54"]]},{"id":"28ef1c17.3d6e54","type":"debug","z":"2e4d7e17.988962","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":60,"wires":[]},{"id":"d80ee197.bf81","type":"mqtt out","z":"2e4d7e17.988962","name":"","topic":"candystore/led/setrgb","qos":"2","retain":"","broker":"5c1954b2.ce4b2c","x":680,"y":140,"wires":[]},{"id":"d61180c0.a90c5","type":"inject","z":"2e4d7e17.988962","name":"","topic":"","payload":"ff0000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["d98c18ab.333538"]]},{"id":"4a726d20.54a9c4","type":"mqtt out","z":"2e4d7e17.988962","name":"","topic":"candystore/led/fadergb","qos":"","retain":"","broker":"5c1954b2.ce4b2c","x":680,"y":200,"wires":[]},{"id":"ea2e52eb.ad6b7","type":"ui_colour_picker","z":"2e4d7e17.988962","name":"","label":"RGB","group":"dc1af78.f218a08","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":140,"wires":[["28ef1c17.3d6e54","d98c18ab.333538","2d5274b2.b4387c"]]},{"id":"ff3d4f83.eb0bd","type":"mqtt out","z":"2e4d7e17.988962","name":"","topic":"candystore/led/off","qos":"","retain":"","broker":"5c1954b2.ce4b2c","x":670,"y":422,"wires":[]},{"id":"970d7aa4.d63238","type":"mqtt out","z":"2e4d7e17.988962","name":"","topic":"candystore/led/fadeoff","qos":"","retain":"","broker":"5c1954b2.ce4b2c","x":680,"y":482,"wires":[]},{"id":"417d9499.fc763c","type":"mqtt out","z":"2e4d7e17.988962","name":"","topic":"candystore/led/setwhite","qos":"","retain":"","broker":"5c1954b2.ce4b2c","x":690,"y":302,"wires":[]},{"id":"8c2173e1.dd0fe","type":"mqtt out","z":"2e4d7e17.988962","name":"","topic":"candystore/led/fadewhite","qos":"","retain":"","broker":"5c1954b2.ce4b2c","x":690,"y":362,"wires":[]},{"id":"47ba8367.ab647c","type":"ui_switch","z":"2e4d7e17.988962","name":"","label":"Fade?","group":"dc1af78.f218a08","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":520,"wires":[["b01199bb.3f9e68"]]},{"id":"3c0ce809.0495d8","type":"ui_slider","z":"2e4d7e17.988962","name":"","label":"White","group":"dc1af78.f218a08","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":1,"x":90,"y":340,"wires":[["9010ff29.2b346"]]},{"id":"b01199bb.3f9e68","type":"function","z":"2e4d7e17.988962","name":"set fade","func":"flow.set(\"fade\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":520,"wires":[["82fdf1d.101e11"]]},{"id":"58d965fd.638b2c","type":"switch","z":"2e4d7e17.988962","name":"fade?","property":"fade","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":340,"wires":[["417d9499.fc763c","1acddb5b.100e55"],["8c2173e1.dd0fe","67c5bf50.3b97"]]},{"id":"82fdf1d.101e11","type":"debug","z":"2e4d7e17.988962","name":"fade?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":520,"wires":[]},{"id":"1acddb5b.100e55","type":"debug","z":"2e4d7e17.988962","name":"no fade debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":240,"wires":[]},{"id":"67c5bf50.3b97","type":"debug","z":"2e4d7e17.988962","name":"fade debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":280,"wires":[]},{"id":"d98c18ab.333538","type":"switch","z":"2e4d7e17.988962","name":"fade?","property":"fade","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":200,"wires":[["d80ee197.bf81","1acddb5b.100e55"],["4a726d20.54a9c4","67c5bf50.3b97"]]},{"id":"214ac3b4.46718c","type":"ui_button","z":"2e4d7e17.988962","name":"","group":"dc1af78.f218a08","order":4,"width":0,"height":0,"passthru":false,"label":"Lights Off","color":"","bgcolor":"","icon":"","payload":"00","payloadType":"str","topic":"","x":100,"y":449,"wires":[["fc9f6183.af83a","3c0ce809.0495d8"]]},{"id":"fc9f6183.af83a","type":"switch","z":"2e4d7e17.988962","name":"fade?","property":"fade","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":449,"wires":[["ff3d4f83.eb0bd","1acddb5b.100e55"],["970d7aa4.d63238","67c5bf50.3b97"]]},{"id":"9010ff29.2b346","type":"function","z":"2e4d7e17.988962","name":"to hex","func":"msg.payload = msg.payload.toString(16);\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["58d965fd.638b2c"]]},{"id":"2d5274b2.b4387c","type":"change","z":"2e4d7e17.988962","name":"turn off white","rules":[{"t":"set","p":"payload","pt":"msg","to":"00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["3c0ce809.0495d8"]]}]